body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    gap: 20px;
    padding: 40px;
}


.container.right {
    height: 100vh;
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 20px;
}

.first-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 18%;
    width: 100%;
}
.first-container input {
    border-radius: 30rem;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}

.second-container {
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-container .second-container-b {
    height: 50%;
    width: 70%;
    background-color: blue;
    border-radius: 10rem;
}

.third-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 20%;
    width: 100%;
}
.third-container img {
    height: 100%;
    width: 100px;
}

.fourth-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 19%;
    width: 100%;
}
.fourth-container div {
    height: 85%;
    width: 30%;
    background-color: pink;
}

.fifth-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    height: 20%;
}
.fifth-container input {
    border-radius: 30rem;
    background-color: greenyellow;
    width: 40%;
    height: 40px;
}



.container.left {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 50%;
    background-color: brown;
    padding: 2rem;
    gap: 30px;
}

.first-contain {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 19%;
    width: 100%;
}

.first-contain img {
    height: 100%;
    width: 100px;
}
.second-contain {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    height: 18%;
}
.second-contain input {
    border-radius: 30rem;
    background-color: greenyellow;
    width: 40%;
    height: 40px;
}
.third-contain {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 18%;
    width: 100%;
}
.third-contain input {
    border-radius: 30rem;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}
.fourth-contain {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 15%;
    width: 100%;
}
.fourth-contain .fourth-contain1 {
    height: 85%;
    width: 30%;
    background-color: pink;
}
.fourth-contain .fourth-contain1 {
    height: 85%;
    width: 30%;
    background-color: pink;
}
.fifth-contain {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 19%;
    width: 100%;
}
.fifth-contain .fifth-contain-b {
    width: 80%;
    background-color: blue;
    border-radius: 10rem;
}